nav.navbar, navbar-toggler {
    z-index: 100;
    height:5rem;
    font-family: Arial;
    font-size: 30px;
    top:0.6rem;
  
    
  }
  nav.navbar li{
    background-color: #343a40;
  }



  #edubtn, #socbtn, #labbtn, #homebtn, #indexbtn {
    background-color: transparent;
    color: white;
    border:none;
  }
  
  #edubtn:hover, #socbtn:hover, #labbtn:hover, #homebtn:hover, #indexbtn:hover {
    background-color: transparent;
    color:#F7C3E5;
    border:none;
  }
  
  header {
    background-color:#FCEE5B;
    height: 9.6rem;
    
  
  }
   #slogan-xs{
     display: none;
   }

   
  .logo{
    width:8.7rem;
    height:8.7rem;
   } 

aside {
text-align: center;
top: 1.25rem;
background: #FCEE5B;
padding-top:2rem;

}

#links{
  font-size: 20px;
  padding-top:2rem;
}

#parrafo{
  margin-bottom:6rem;
}

main {
top: 1.25rem;
background: #FCEE5B;
height:100%;
padding-top:2rem;
}



footer {
  z-index: 100;
  position:fixed;
  left:0px;
  bottom:0px;
  height:2.5rem;
  width:100%;
  background:#F7C3E5;
}

#adds {
  top: 2.5rem;
  background: #FCEE5B;
  }
  
.card {  
    width: 18rem;
    height: 27rem;
    padding: 0.6rem;
    
    }

.card-img-top {  
width: 18rem;
height: 14rem;

}

#selectNivEdu, #selectNivIns,#selectInsSco, #selectNivDes, #selectLabFor, #selectParLab, #selectNivVio{
  margin-left: 1rem;
}
#btnSection, #btnSecNivEdu, #btnSecNivIns, #btnSecInsSco, #btnSecNivDes, #btnSecLabFor, #btnSecParLab, #btnSecNivVio, #btnData, #btnDataNivIns, #btnDataInsSco, #btnDataNivDes, #btnDataLabFor, #btnDataParLab, #btnDataNivVio {
background-color: #F7C3E5;
border-color: #F7C3E5;
margin-bottom:6rem;
border-radius: 1rem;

}

#btnSection:hover, #btnSecNivEdu:hover, #btnSecNivIns:hover, #btnSecInsSco:hover, #btnSecNivDes:hover, #btnSecLabFor:hover, #btnSecParLab:hover, #btnSecNivVio:hover, #btnData:hover, #btnDataNivIns:hover, #btnDataInsSco:hover, #btnDataNivDes:hover, #btnDataLabFor:hover, #btnDataParLab:hover, #btnDataNivVio:hover{
  background-color: palevioletred;
}

.styled-select select {
  background: #F7C3E5;
  border: none;
  font-size: 14px;
  height: 29px;
  width: 268px;
  margin-bottom: 4rem;
}

#select:hover {
  background-color: #fc0; /* poner el color que gustes */
}


  table {
    overflow: hidden;
    background-color: #ffa;
    width: 40rem;
    height: 15rem;
    margin-left: 4rem;
    margin-bottom: 20rem;
    font-weight: bold;
    font-size: 20px;
    border-color: #F7C3E5

  }


  td:hover {
    background-color: #FCEE5B;
    font-size: 30px;
  }
  
  td:focus::after,
  th:focus::after {
    background-color: lightblue;
  }
  
  
  

  #ordenar{
    float: right;
    margin: 4rem;
  }
 
  #btnOrdenar{
    background-color: #F7C3E5;
    border-color: #F7C3E5;
    float: right;
    
  }

  #btnOrdenar:hover {
    background-color: palevioletred;
  
  
  }



  input[type=text], select, textarea {
  width: 100%;
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.3rem;
  box-sizing: border-box;
  margin-top: 0,5rem;
  margin-bottom: 1rem;
  resize: vertical;
}

input[type=submit] {
  background-color: #F7C3E5 ;
  color: white;
  padding: 1rem 1.5rem;
  border: none;
  border-radius: 0,3rem;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: palevioletred;
}

.container {
  border-radius: 2rem;
  background-color: #f2f2f2;
  padding: 1.5rem;
  margin-bottom:6.3rem;
}

